[Unit]
Description=Rakuten Monitor
After=network.target

[Service]
User=yang_server
WorkingDirectory=/opt/rakutenApp
EnvironmentFile=/opt/rakutenApp/.env
ExecStart=/opt/rakutenApp/.venv/bin/python -m monitor --cron
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target